/*
  クレヨンで書いた様なフォント
  ※漢字は使用できない
*/
@font-face {
    font-family: 'crayon';
    src: url('../fonts/KajudenFont-Crayon.ttf');
}

/*
  子供が書いたようなフォント
  ※一部漢字は使用できない(小学校1～3年で習うような漢字は入っているらしい)
*/
@font-face {
    font-family: 'like-children-wrote';
    src: url('../fonts/KodomoRounded.otf');
}

/*
  ちょっとかわいいフォント
  ※「柚」が非対応だった
*/
@font-face {
    font-family: 'kawaii-font';
    src: url('../fonts/KTEGAKI.ttf');
}

/*
  崩れている字
  ※「柚」があった
*/
@font-face {
    font-family: 'yama-font';
    src: url('../fonts/yamafont.ttf');
}

body {
    background: none;
}

body::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background-image: url('../images/top-image.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

button {
    margin-bottom: 10px;
}

.header-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0% 0%;
}

@media only screen and (min-width: 1000px) {
    .header-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: 0% 0%;
    }

    body {
        background-image: url('../images/top-image.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
}

.description {
    font-family: 'like-children-wrote';
    font-size: 3em;
}
.description--text{
    margin-left:5em;
}

.eye-catch-image {
    margin: 10px 0px 10px 0px;
}

.eye-catch-title {
    font-family: 'crayon';
    font-size: 3.2em;
    line-height: 1.9;
    margin-top:20px;
}

.eye-catch-text {
    font-family: 'crayon';
    font-size: 3em;
    line-height: 1.9;
    height: 500px;
    width: 100%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

.line-morning-groly {
    border: 0;
    height: 50px;
    background: url('../images/line1.png') no-repeat top center;
    margin: 80px 0px 80px 0px;
}

.entry-text {
    margin-bottom: 2.5em;
    font-family: 'like-children-wrote';
    font-size: 3em;
    text-align: center;
}

.sample-image {
    width: 40%;
}

.painstaking-work-title {
    margin:50px 0px 40px;
    font-family: 'yama-font';
    font-size: 3.5em;
}

.painstaking-work-text {
    margin: 20px;
    font-family: 'kawaii-font';
    font-size: 2.5em;
    text-align: center;
}

.painstaking-work-image {
    margin: 30px auto;
    width: 80%;
}

.vote-button {
    margin:40px 0 60px;
    font-family: 'yama-font';
    font-size: 3em;
}

.toast-text {
    font-family: 'yama-font';
    font-size: 3em;
}
